src/main/xsd/Holiday.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Holiday"
	xmlns:tns="http://www.example.org/Holiday" elementFormDefault="qualified">

	<simpleType name="Weekday">
		<restriction base="string">
			<enumeration value="MONDAY"/>
			<enumeration value="TUESDAY"/>
			<enumeration value="WEDNESDAY"/>
			<enumeration value="THURSDAY"/>
			<enumeration value="FRIDAY"/>
			<enumeration value="SATURDAY"/>
			<enumeration value="SUNDAY"/>
		</restriction>
	</simpleType>

	<simpleType name="Month">
		<restriction base="string">
			<enumeration value="JANUARY"/>
			<enumeration value="FEBRUARY"/>
			<enumeration value="MARCH"/>
			<enumeration value="APRIL"/>
			<enumeration value="MAY"/>
			<enumeration value="JUNE"/>
			<enumeration value="JULY"/>
			<enumeration value="AUGUST"/>
			<enumeration value="SEPTEMBER"/>
			<enumeration value="OCTOBER"/>
			<enumeration value="NOVEMBER"/>
			<enumeration value="DECEMBER"/>
		</restriction>
	</simpleType>


	<complexType name="RelativeToFixed">
		<complexContent>
			<extension base="tns:Holiday">
				<sequence>
					<choice maxOccurs="1" minOccurs="1">
						<element name="Days" type="int" maxOccurs="1" minOccurs="0">
						</element>
						<element name="Weekday" type="tns:Weekday" maxOccurs="1"
							minOccurs="0">
						</element>
					</choice>
					<element name="When" type="tns:When"/>
					<element name="Date" type="tns:Fixed"/>
				</sequence>

			</extension>
		</complexContent>
	</complexType>




	<complexType name="Holidays">
		<sequence>
			<element name="Fixed" type="tns:Fixed" maxOccurs="unbounded"
				minOccurs="0">
			</element>
			<element name="RelativeToFixed" type="tns:RelativeToFixed"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="RelativeToWeekdayInMonth"
				type="tns:RelativeToWeekdayInMonth" maxOccurs="unbounded"
				minOccurs="0">
			</element>
			<element name="FixedWeekday" type="tns:FixedWeekdayInMonth"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="ChristianHoliday" type="tns:ChristianHoliday"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="ChineseHoliday" type="tns:ChineseHoliday"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="IslamicHoliday" type="tns:IslamicHoliday"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="FixedWeekdayBetweenFixed"
				type="tns:FixedWeekdayBetweenFixed" maxOccurs="unbounded"
				minOccurs="0">
			</element>
			<element name="FixedWeekdayRelativeToFixed"
				type="tns:FixedWeekdayRelativeToFixed" maxOccurs="unbounded"
				minOccurs="0">
			</element>
			<element name="HinduHoliday" type="tns:HinduHoliday"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="HebrewHoliday" type="tns:HebrewHoliday"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="EthiopianOrthodoxHoliday"
				type="tns:EthiopianOrthodoxHoliday" maxOccurs="unbounded"
				minOccurs="0">
			</element>
			<element name="RelativeToEasterSunday" type="tns:RelativeToEasterSunday" minOccurs="0"
					 maxOccurs="unbounded"/>
		</sequence>




	</complexType>


	<element name="Configuration" type="tns:Configuration"/>

	<complexType name="Configuration">
		<sequence>
			<element name="Holidays" type="tns:Holidays"/>
			<element name="SubConfigurations" type="tns:Configuration"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
		<attribute name="hierarchy" type="string"/>
		<attribute name="description" type="string"/>
	</complexType>

	<complexType name="Fixed">
		<complexContent>
			<extension base="tns:MoveableHoliday">
				<attribute name="month" type="tns:Month"/>

				<attribute name="day">
					<simpleType>
						<restriction base="int">
							<minInclusive value="1"/>
							<maxInclusive value="31"/>
						</restriction>
					</simpleType>
				</attribute>

			</extension>
		</complexContent>
	</complexType>


	<simpleType name="When">
		<restriction base="string">
			<enumeration value="BEFORE"/>
			<enumeration value="AFTER"/>
		</restriction>
	</simpleType>


	<complexType name="FixedWeekdayInMonth">
		<complexContent>
			<extension base="tns:Holiday">
				<attribute name="which" type="tns:Which"/>

				<attribute name="weekday" type="tns:Weekday"/>

				<attribute name="month" type="tns:Month"/>

			</extension>
		</complexContent>
	</complexType>

	<simpleType name="Which">
		<restriction base="string">
			<enumeration value="FIRST"/>
			<enumeration value="SECOND"/>
			<enumeration value="THIRD"/>
			<enumeration value="FOURTH"/>
			<enumeration value="LAST"/>
		</restriction>
	</simpleType>

	<complexType name="RelativeToWeekdayInMonth">
		<complexContent>
			<extension base="tns:Holiday">
				<sequence>
					<element name="FixedWeekday" type="tns:FixedWeekdayInMonth"/>
				</sequence>
				<attribute name="weekday" type="tns:Weekday"/>
				<attribute name="when" type="tns:When"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="IslamicHoliday">
		<complexContent>
			<extension base="tns:Holiday">
				<attribute name="type" type="tns:IslamicHolidayType">
				</attribute>

			</extension>
		</complexContent>
	</complexType>


	<simpleType name="IslamicHolidayType">
		<restriction base="string">
			<enumeration value="NEWYEAR"/>
			<enumeration value="ASCHURA"/>
			<enumeration value="MAWLID_AN_NABI"/>
			<enumeration value="LAILAT_AL_MIRAJ"/>
			<enumeration value="LAILAT_AL_BARAT"/>
			<enumeration value="RAMADAN"/>
			<enumeration value="LAILAT_AL_QADR"/>
			<enumeration value="ID_AL_FITR"/>
			<enumeration value="ID_UL_ADHA"/>
		</restriction>
	</simpleType>

	<simpleType name="ChronologyType">
		<restriction base="string">
			<enumeration value="JULIAN"/>
			<enumeration value="GREGORIAN"/>
		</restriction>
	</simpleType>

	<complexType name="ChristianHoliday">
		<complexContent>
			<extension base="tns:MoveableHoliday">
				<attribute name="type" type="tns:ChristianHolidayType">
				</attribute>

				<attribute name="chronology" type="tns:ChronologyType">
				</attribute>

			</extension>
		</complexContent>
	</complexType>

	<simpleType name="HolidayType">
		<restriction base="string">
			<enumeration value="OFFICIAL_HOLIDAY" />
			<enumeration value="UNOFFICIAL_HOLIDAY" />
		</restriction>
	</simpleType>

	<simpleType name="ChristianHolidayType">
		<restriction base="string">
			<enumeration value="GOOD_FRIDAY"/>
			<enumeration value="EASTER_MONDAY"/>
			<enumeration value="ASCENSION_DAY"/>
			<enumeration value="WHIT_MONDAY"/>
			<enumeration value="CORPUS_CHRISTI"/>
			<enumeration value="MAUNDY_THURSDAY"/>
			<enumeration value="ASH_WEDNESDAY"/>
			<enumeration value="MARDI_GRAS"/>
			<enumeration value="GENERAL_PRAYER_DAY"/>
			<enumeration value="CLEAN_MONDAY"/>
			<enumeration value="SHROVE_MONDAY"/>
			<enumeration value="PENTECOST"/>
			<enumeration value="CARNIVAL"/>
			<enumeration value="EASTER_SATURDAY"/>
			<enumeration value="EASTER_TUESDAY"/>
			<enumeration value="SACRED_HEART"/>
			<enumeration value="EASTER"/>
			<enumeration value="PENTECOST_MONDAY"/>
			<enumeration value="WHIT_SUNDAY"/>
		</restriction>
	</simpleType>

	<complexType name="FixedWeekdayBetweenFixed">
		<complexContent>
			<extension base="tns:Holiday">
				<sequence>
					<element name="from" type="tns:Fixed"/>
					<element name="to" type="tns:Fixed"/>
				</sequence>
				<attribute name="weekday" type="tns:Weekday"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Holiday" abstract="true">
		<attribute name="validFrom" type="int" use="optional" />
		<attribute name="validTo" type="int" />
		<attribute name="every" type="tns:HolidayCycleType" default="EVERY_YEAR" />
		<attribute name="descriptionPropertiesKey" type="string" />
		<attribute name="localizedType" type="tns:HolidayType"
			default="OFFICIAL_HOLIDAY" />
	</complexType>


	<simpleType name="Substituted">
		<restriction base="string">
			<enumeration value="ON_SATURDAY"/>
			<enumeration value="ON_SUNDAY"/>
			<enumeration value="ON_WEEKEND"/>
			<enumeration value="ON_TUESDAY"/>
			<enumeration value="ON_WEDNESDAY"/>
		</restriction>
	</simpleType>

	<simpleType name="With">
		<restriction base="string">
			<enumeration value="NEXT"/>
			<enumeration value="PREVIOUS"/>
		</restriction>
	</simpleType>



	<complexType name="MovingCondition">
		<attribute name="substitute" type="tns:Weekday"/>
		<attribute name="with" type="tns:With"/>
		<attribute name="weekday" type="tns:Weekday"/>
	</complexType>

	<simpleType name="HinduHolidayType">
		<restriction base="string">
			<enumeration value="HOLI"/>
		</restriction>
	</simpleType>

	<complexType name="HinduHoliday">
		<complexContent>
			<extension base="tns:Holiday">
				<attribute name="type" type="tns:HinduHolidayType"/>

			</extension>
		</complexContent>
	</complexType>



	<complexType name="MoveableHoliday" abstract="true">
		<complexContent>
			<extension base="tns:Holiday">
				<sequence>
					<element name="MovingCondition" type="tns:MovingCondition" maxOccurs="unbounded" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="HebrewHoliday">
		<complexContent>
			<extension base="tns:Holiday">
				<attribute name="type" type="tns:HebrewHolidayType"/>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="HebrewHolidayType">
		<restriction base="string">
			<enumeration value="ROSH_HASHANAH"/>
			<enumeration value="ASERET_YEMEI_TESHUVA"/>
			<enumeration value="YOM_KIPPUR"/>
			<enumeration value="SUKKOT"/>
			<enumeration value="SHEMINI_ATZERET"/>
			<enumeration value="HANUKKAH"/>
			<enumeration value="ASARAH_BETEVET"/>
			<enumeration value="TU_BISHVAT"/>
			<enumeration value="PURIM"/>
			<enumeration value="1_NISAN"/>
			<enumeration value="PESACH"/>
			<enumeration value="SEFIRAH"/>
			<enumeration value="LAG_BAOMER"/>
			<enumeration value="SHAVOUT"/>
			<enumeration value="17_TAMMUZ"/>
			<enumeration value="TISHA_BAV"/>
			<enumeration value="1_ELUL"/>
			<enumeration value="ROSH_CODESH"/>
			<enumeration value="SHABBAT"/>
			<enumeration value="YOM_HASHOAH"/>
			<enumeration value="YOM_HAZIKARON"/>
			<enumeration value="YOM_HAATZAMAUT"/>
			<enumeration value="YOM_YERUSHALAIM"/>
		</restriction>
	</simpleType>

	<complexType name="ChineseHoliday">
		<complexContent>
			<extension base="tns:Holiday">
				<attribute name="type" type="tns:ChineseHolidayType">
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="ChineseHolidayType">
		<restriction base="string">
			<enumeration value="NEW_YEAR"/>
			<enumeration value="QING_MING"/>
			<enumeration value="DRAGON_BOAT"/>
			<enumeration value="MID_AUTUMN"/>
			<enumeration value="CHUNG_YEUNG"/>
		</restriction>
	</simpleType>

	<complexType name="EthiopianOrthodoxHoliday">
		<complexContent>
			<extension base="tns:Holiday">
				<attribute name="type"
					type="tns:EthiopianOrthodoxHolidayType">
				</attribute>

			</extension>
		</complexContent>
	</complexType>

	<simpleType name="EthiopianOrthodoxHolidayType">
    	<restriction base="string">
			<enumeration value="TIMKAT"/>
			<enumeration value="ENKUTATASH"/>
			<enumeration value="MESKEL"/>
    	</restriction>
    </simpleType>

	<complexType name="FixedWeekdayRelativeToFixed">
		<complexContent>
			<extension base="tns:Holiday">
				<sequence>
					<element name="day" type="tns:Fixed"/>
				</sequence>
				<attribute name="which" type="tns:Which"/>
				<attribute name="weekday" type="tns:Weekday"/>
				<attribute name="when" type="tns:When"/>
			</extension>
		</complexContent>
	</complexType>


	<simpleType name="HolidayCycleType">
		<restriction base="string">
			<enumeration value="EVERY_YEAR"/>
			<enumeration value="2_YEARS"/>
			<enumeration value="4_YEARS"/>
			<enumeration value="5_YEARS"/>
			<enumeration value="6_YEARS"/>
			<enumeration value="ODD_YEARS"/>
			<enumeration value="EVEN_YEARS"/>
		</restriction>
	</simpleType>

	<complexType name="RelativeToEasterSunday">
		<complexContent>
			<extension base="tns:Holiday">
				<sequence>
					<element name="chronology"
						type="tns:ChronologyType">
					</element>
					<element name="days" type="int"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>